<footer class="footer p-2 bg-secondary text-light fs-5">
    <div class="container cards my-3">
      <div class="row mb-5">
        <div class="col text-center">
          <h2><i class="fa-solid fa-paw"></i> With us you get the best for your pet!</h2>
        </div>
      </div>

      <div id="foot" class="row text-center">
        <div class="col-3">
            <i class="fa-solid fa-dog"></i>
        </div>
        <div class="col-3">
            <i class="fa-solid fa-cat"></i>
        </div>
        <div class="col-3">
            <i class="fa-solid fa-kiwi-bird"></i>
        </div>
        <div class="col-3">
            <i class="fa-solid fa-fish"></i>
        </div>
      </div>


      <div id="foot" class="row footer1 text-center">
            <div class="col-3">
              <p>Dogs</p>
            </div>
            <div class="col-3">
              <p>Cats</p>
            </div>
            <div class="col-3">
                <p>Birds</p>
            </div>
            <div class="col-3">
                <p>Many other pets</p>
            </div>
       </div>
    </div>

    <div id="foot" class="row text-center footer2">
        <div class="col-md-6 col-4">
          <p>&copy; Codefactory 2024</p>
        </div>
        <div class="col-md-4 col-4">
          <p>All rights reserved</p>
        </div>
    </div>

</footer>

